statemachine/pipeline.asl.json
{
  "Comment": "IoT CSV Pipeline: S3 → AWS Batch → DynamoDB → SNS | Orquestrado pelo Step Functions",
  "StartAt": "SubmitBatchJob",
  "States": {

    "SubmitBatchJob": {
      "Type": "Task",
      "Comment": "Submete o job para o AWS Batch e aguarda conclusão (.sync usa polling via EventBridge)",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName.$":       "States.Format('iot-process-{}', $.job_id)",
        "JobDefinition":   "${JobDefinitionArn}",
        "JobQueue":        "${JobQueueArn}",
        "ContainerOverrides": {
          "Environment": [
            { "Name": "JOB_ID",    "Value.$": "$.job_id"    },
            { "Name": "S3_BUCKET", "Value.$": "$.bucket"    },
            { "Name": "S3_KEY",    "Value.$": "$.s3_key"    }
          ]
        }
      },
      "ResultPath": "$.batch_result",
      "Next": "SaveResults",
      "Retry": [
        {
          "ErrorEquals": ["Batch.BatchException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ]
    },

    "SaveResults": {
      "Type": "Task",
      "Comment": "Atualiza status para PROCESSED no DynamoDB",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SaveResultsFunctionArn}",
        "Payload": {
          "job_id.$":    "$.job_id",
          "file_name.$": "$.file_name",
          "status":      "PROCESSED"
        }
      },
      "ResultPath": "$.save_result",
      "Next": "Notify",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ]
    },

    "Notify": {
      "Type": "Task",
      "Comment": "Publica resumo do processamento no SNS",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyFunctionArn}",
        "Payload": {
          "job_id.$":    "$.job_id",
          "file_name.$": "$.file_name"
        }
      },
      "ResultPath": "$.notify_result",
      "Next": "Success"
    },

    "HandleError": {
      "Type": "Task",
      "Comment": "Atualiza status para FAILED no DynamoDB quando algo dá errado",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SaveResultsFunctionArn}",
        "Payload": {
          "job_id.$":    "$.job_id",
          "file_name.$": "$.file_name",
          "status":      "FAILED",
          "error.$":     "$.error"
        }
      },
      "ResultPath": "$.error_result",
      "Next": "Failed"
    },

    "Success": {
      "Type": "Succeed"
    },

    "Failed": {
      "Type": "Fail",
      "Error": "ProcessingFailed",
      "Cause": "O processamento do CSV falhou. Verifique os logs do Batch job no CloudWatch."
    }

  }
}
